html, body {
    margin: 0;
    padding: 0;
    background-color: #d7d6d6;
}

.clear {
    clear: both;
}

#wrapper {
    max-width: 1160px;
    background-color: white;
    margin: auto;
}

#header {
    background-color: black;
}

#logo-container {
    float: left;
}

.menu-hlavni-menu-container {
    float: right;

}
